body > header {
	display: flex;
	flex-direction: row;
	position: sticky;
	top: 0;
	z-index: 1000;
	background-color: white;
}
@media (max-width: 960px) {
	body > header::after {
		display: flex;
		align-items: center;
		content: "\2630";
		margin-left: auto;
	}
}
body > nav {
	display: none;
}
main {
	max-width: 960px;
	margin: 0 auto;
}
.main-container {
	display: grid;
	align-items: center;
	margin: 0;
}
main > aside {
	display: none;
}
@media (min-width: 960px) {
	body > nav {
		display: block;
	}
	main > aside {
		display: block
	}
}
body > footer {
	display:flex;
	align-items: center;
}
