body > header {
	display: flex;
	flex-direction: row;
}
@media (max-width: 960px) {
	body > header::after {
		display: flex;
		align-items: center;
		content: "\2630";
		margin-left: auto;
	}
}
body > main {
	max-width: 960px;
}
body > nav {
	display: none;
}
main > aside {
	display: none
}
body > footer {
	display:flex;
	align-items: center;
}
