:root {
	--max-width: 960px;
}
.sticky-block {
	position: sticky;
	top: 0;
	background-color: white;
}
.sticky-block > header {
	display: flex;
	flex-direction: row;
}
.sticky-block > header::after {
	display: flex;
	align-items: center;
	content: "\2630";
	margin-left: auto;
}
.sticky-block > header > h1 {
	margin: 0;
	padding: 0;
}
.sticky-block > nav {
	display: none;
	justify-content: center;
}
.sticky-block > nav ul {
	list-style: none;
	width: 100%;
	display: flex;
	justify-content: space-around;
}
a { text-decoration: none; }
a:hover { text-decoration: underline; }
main {
	max-width: var(--max-width);
	margin: 0 auto;
	display: grid;
	grid-template-columns: 2fr;
}
article, aside {
	padding: 1em;
	margin: 1em;
	background-color: #f0f0f0;
}
.articles-column {
	row-gap: 0em;
}
.asides-column {
	display: none;
}
article img {
	float: right;         /* pushes the image to the right */
	margin: 0 0 1em 1em;
	max-width: 40%;
	height: auto;         /* maintain aspect ratio */
}
aside img {
	max-width: 100%;      /* never wider than its container */
	height: auto;         /* maintain aspect ratio */
}
form {
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: start;
}
#apiToolForm * {
    padding: 2px;
}
.labeledBlock {
	display: contents;
}
.labeledBlock > span {
	justify-self: end;
}
.labeledBlock > div:not(.buttonRow) {
	flex-direction: column;
}
.labeledBlock > div.buttonRow {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
textarea {
	width: 100%;
}
@media (min-width: 960px) {
	.sticky-block > header::after {
		display: none
	}
	.sticky-block > nav {
		display: flex;
	}
	main {
		grid-template-columns: 2fr 1fr;
	}
	.asides-column {
		display: block
	}
}
body > footer {
	max-width: var(--max-width);
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 1em;
}
body > footer ul {
	list-style: none;
	text-align: right;  /* pushes <li> content to the right */
}
